#! /bin/sh

if command -v brew &> /dev/null
then
  echo "Homebrew is already installed."
  exit 0
fi

{{ if not (eq .chezmoi.os "darwin" "linux") }}
  echo ""Homebrew can only be installed on Linux or macOS."
  exit 0
{{ end }}


{{ if eq .chezmoi.os "linux" -}}
REQUIRED_PACKAGES="build-essential procps curl file git"
MISSING_PACKAGES=""

for pkg in $REQUIRED_PACKAGES; do
    if ! dpkg -l | grep -qw $pkg; then
        MISSING_PACKAGES="$MISSING_PACKAGES $pkg"
    fi
done

if [ ! -z "$MISSING_PACKAGES" ]; then
    echo "Installing missing packages: $MISSING_PACKAGES"
    sudo apt-get install -y $MISSING_PACKAGES
fi
{{ end }}


echo "Starting Homebrew installation..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
echo "Homebrew installation completed. 🎉"
