#! /bin/sh
if command -v aqua &> /dev/null 2>&1;
then
  echo "aqua is already installed. 🙆‍♂️"
  exit 0
fi

# zshenv が読み込まれる前に aqua をインストールするので明示的に環境変数を設定する
# $HOME/.local/share は XDG_DATA_HOME に対応する
/usr/local/go/bin/go env -w GOPATH="$HOME/.local/share/go"
/usr/local/go/bin/go env -w GOBIN="$GOPATH/bin"

echo "Starting Aqua installation..."
/usr/local/go/bin/go install github.com/aquaproj/aqua/v2/cmd/aqua@latest || {
  echo "Failed to install aqua 😱"
  exit 1
}

echo "aqua installation completed. 🎉"
