#! /bin/sh
GO_VERSION=1.23.1

if command -v go &> /dev/null
then
  echo "Go is already installed. 🙆‍♂️"
  exit 0
fi

GO_URL="https://golang.org/dl/go${GO_VERSION}.{{.chezmoi.os}}-{{.chezmoi.arch}}.tar.gz"

{{ if eq .chezmoi.os "linux" -}}
sudo apt-get install -y curl
{{ end }}

curl -Lo /tmp/go.tar.gz $GO_URL || {
  echo "Failed to download Go 😱"
  exit 1
}

sudo tar -C /usr/local -xzf /tmp/go.tar.gz || {
  echo "Failed to extract Go 😱"
  exit 1
}

rm /tmp/go.tar.gz || {
  echo "Failed to remove Go tarball 😱"
  exit 1
}

echo "Go installation completed. 🎉"
