#! /bin/sh

if ! command -v brew >/dev/null 2>&1; then
    echo "brew command not found 😱"
    exit 1
fi

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --verbose --file=/dev/stdin <<EOF
{{ range .brew.packages.common -}}
brew {{ . | quote }}
{{ end -}}
{{ range .brew.packages.cask.common -}}
cask {{ . | quote }}
{{ end -}}

{{ if promptBool "Do you want to install external casks?" -}}
{{ range .brew.packages.cask.external -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
brew bundle --verbose --file=/dev/stdin <<EOF
{{ range .brew.packages.common -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end }}

echo "Homebrew packages installation completed successfully 🎉"
