# see: https://www.chezmoi.io/reference/configuration-file/variables/

progress = true

# NOTE: パッケージ一覧の本体は .chezmoidata/packages.yaml にある。
# ここには promptBool の結果に依存して .chezmoidata に置けないものだけを残す。
[data.brew.packages.cask]
  {{ if promptBool "Do you want to install external casks" -}}
  external = [
    "alt-tab",
    "cleanshot",
    "deepl",
    "raycast",
  ]
  {{ else -}}
  external = []
  {{ end -}}

{{- if eq .chezmoi.os "linux" }}
[data.brew]
  path = "/home/linuxbrew/.linuxbrew/bin/brew"
{{- end }}

{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
# Apple シリコン
[data.brew]
  path = "/opt/homebrew/bin/brew"
{{- end }}

{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
# Intel Mac
[data.brew]
  path = "/usr/local/bin/brew"
{{- end }}
  

[edit]
{{ if lookPath "nvim" }}
  command = "nvim"
{{ else if lookPath "vim" }}
  command = "vim"
{{ end }}

[diff]
  exclude = ["scripts"]
