[user]
  name = kazu
  email = 64774307+kazu-2020@users.noreply.github.com
{{ if lookPath  "op" }}
  signingkey = {{ onepasswordRead "op://lsrjwwy2tykh6466oaoyawmtn4/github ssh key/public key" }}
{{ end }}
[core]
  editor = nvim
  quotepath = false
[merge]
  ff = false
[pull]
  ff = only
[color]
  ui = auto
[push]
  default = current
[fetch]
  prune = true

{{ if lookPath  "op" }}
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
  gpgsign = true
{{ end }}

[ghq]
  root = ~/repo
[ghq "https://github.com/kazu-2020"]
  root = ~/repo/hobby
