alias rm='rm -i'
alias ll='ls -lh'
alias la='ls -a'
alias wget="wget --hsts-file=$XDG_DATA_HOME/wget-hsts"

if command -v nvim >/dev/null 2>&1; then
  alias vim='nvim'
  alias v='nvim'
fi

if command -v bat >/dev/null 2>&1; then
  alias cat='bat'

  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

if command -v fd >/dev/null 2>&1; then
  alias find='fd'
fi

if command -v procs >/dev/null 2>&1; then
  alias ps='procs'
fi

if command -v rg >/dev/null 2>&1; then
  alias grep='rg'
fi

if command -v eza >/dev/null 2>&1; then
  alias ls='eza --icons --group-directories-first'
  alias ll='eza --icons --group-directories-first --all --long --header --time-style=long-iso'
  alias la='eza --icons --group-directories-first --all'
  alias tree='eza --icons --group-directories-first --tree --git-ignore'
fi


### mise ###
eval "$(mise activate zsh)"

{{ if eq .chezmoi.os "linux" -}}
# ubuntu でパスフレーズの入力画面を出力するためのおまじない
export GPG_TTY=$(tty)
{{ end -}}
