# aqua が 他のパッケージマネージャよりも呼ばれるようにする
# https://zenn.dev/shunsuke_suzuki/books/aqua-handbook/viewer/tips#asdf-%E3%81%AA%E3%81%A9%E3%81%A8%E4%BD%B5%E7%94%A8%E3%81%99%E3%82%8B%E5%A0%B4%E5%90%88%E3%81%AE%E6%B3%A8%E6%84%8F%E7%82%B9
### aqua ###
export PATH="$(aqua root-dir)/bin:$PATH"
