# vscode ssh 先で code コマンドが利用できるようにするための設定
if [[ ! -z VSCODE_IPC_HOOK_CLI ]]; then
    for i in $(ls ~/.vscode-server/bin); do
        export PATH=$HOME/.vscode-server/bin/$i/bin/remote-cli:$PATH
    done
fi

{{ if eq .chezmoi.os "linux" }}
# ubuntu でパスフレーズの入力画面を出力するためのおまじない
export GPG_TTY=$(tty)
{{ end }}
