[user]
  name = kazu
  email = 64774307+kazu-2020@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB486XAItBCx6eYRIR7YPq2/V6capw9um7iEtwlzbMa7
[core]
  editor = nvim
  quotepath = false
[merge]
  ff = false
[pull]
  ff = only
[color]
  ui = auto
[push]
  default = current
[fetch]
  prune = true

[gpg]
  format = ssh

[commit]
  gpgsign = true

{{ if (and (lookPath "op") (eq .chezmoi.os "darwin")) }}
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ end }}

[ghq]
  root = ~/repo

[init]
  defaultBranch = main
