brew "bat"
brew "curl"
brew "deno"
brew "dust"
brew "eza"
brew "fd"
brew "fzf"
brew "ghq"
brew "git"
brew "jq"
brew "neovim"
brew "pnpm"
brew "ripgrep"
brew "sheldon"
brew "starship"
brew "tailscale"
brew "tree"

{{ if eq .chezmoi.os "darwin" }}
cask "1password"
cask "1password-cli"
cask "alt-tab"
cask "arc"
cask "aws-vault"
cask "cleanshot"
cask "dash"
cask "deepl"
cask "font-hack-nerd-font"
cask "iterm2"
cask "notion"
cask "obsidian"
cask "raycast"
cask "session-manager-plugin"
cask "visual-studio-code"
{{ end }}
